<h3 class="float-left"><u>Filtros</u></h3>
<div class="row">
  <div class="col-3">
    <div>
        <canvas id="filtro1" width="150" height="100" class="border border-primary"></canvas>
    </div>
    blanco y negro
  </div>
  <div class="col-3">
    <div>
      <canvas id="filtro2" width="150" height="100" class="border border-primary"></canvas>
    </div>
    negativo
  </div>
  <div class="col-3">
    <div>
      <canvas id="filtro3" width="150" height="100" class="border border-primary"></canvas>
    </div>
    sepia
  </div>
  <div class="col-3">
      <div>
        <canvas id="filtro4" width="150" height="100" class="border border-primary"></canvas>
      </div>
      transparencia
  </div>
  <div class="col-3">
    <div>
      <canvas id="filtro5" width="150" height="100" class="border border-primary"></canvas>
    </div>
      blur
  </div>
  <div class="col-3">
    <div>
      <canvas id="filtro6" class="border border-primary"width="150" height="100" ></canvas>
    </div>
      saturacion
  </div>

</div>
<script type="text/javascript"src="js/filtros.js">
</script>
